### DataBase

#### What is database

Database, also called electronic database, any collection of data, or information, that is specially organized for rapid search and retrieval by a computer. Databases are structured to facilitate the storage, retrieval, modification, and deletion of data in conjunction with various data-processing operations. 

#### Types of database

In a relational database, digital information about a specific customer is organized into rows, columns and tables which are indexed to make it easier to find relevant information through SQL or NoSQL queries.

**SQL**  Structured Query Language

SQL is a domain-specific language used in programming and designed for managing data held in a relational database management system, or for stream processing in a relational data stream management system.

**NoSQL** Not only SQL 

MongoDB is an open source NoSQL database management program. NoSQL is used as an alternative to traditional relational database.

### MySQL 

A SQL query is a question you ask the database. If any of the data in the database satisfies the conditions of your query, SQL retrieves that data.

>A SQL query is a question you ask the database. If any of the data in the database satisfies the conditions of your query, SQL retrieves that data.

`SELECT * FROM EMPLOYEE WHERE Age > 40 OR Salary > 100000`

If in case MySQL is not available, you might use MariaDB instead.

#### Download

MySQL  USTC 中科大的镜像 [点击前往](http://mirrors.ustc.edu.cn/mysql-ftp/Downloads/)

注意根据你的操作系统选择合适的镜像文件 ！

MariaDB 开源软件 可以到其官网下载 

https://downloads.mariadb.org/

### 安装MariaDB/MySQL


Windows10系统下安装MariaDB 的教程图解 [Click](https://pcedu.pconline.com.cn/1367/13676123.html)

Windows10 MYSQL Installer 安装 [Click](https://www.runoob.com/w3cnote/windows10-mysql-installer.html)

注意：在安装过程中要设置root用户的密码，请记住并且妥善保管这个密码，在后续查看及调用数据库的时候都需要使用这个重要的密码。而且root用户是具有最高权限的，不能泄露该密码。

#### 如果需要修改密码，可以根据以下的方法

Enter password：***  
mysql>use mysql;   
Database changed   
mysql> update user set password=password("newPassword") where user='root';  将root用户的密码修改为新的密码
mysql> flush privileges; 刷新权限  
mysql> quit;

In [2]:
from sqlalchemy import create_engine

pw = input('Please provide the password:')
db = input('Please input the name of the database which you would like to access:')
engine = create_engine('mysql+pymysql://root:{}@127.0.0.1:3306/{}?charset=utf8'.format(pw,db))
# 127.0.0.1 代表本机，是特指本机的IP地址，3306是数据库使用的端口号，utf8是编码，一般有中文就应该使用utf8.

Please provide the password: 123456
Please input the name of the database which you would like to access: test

In [8]:
import pandas as pd
# Write to database
dat = pd.read_csv('stockdata.csv')
dat.to_sql(name='my_table', con=engine, if_exists='append', index=False)

In [16]:
sql_cmd = "select close, vol from my_table "

# Read from Database
df = pd.read_sql(sql=sql_cmd, con=engine)
df.head()

   close        vol
0  16.20  285487.23
1  16.51  332693.07
2  17.95  184201.74
3  17.21  226621.76
4  16.97  320102.62

#### Navicat

Powerful database management & design GUI 

是一套多连接数据库开发工具，让你在单一应用程序中同时连接多达七种数据库：MySQL、MariaDB、MongoDB、SQL Server、SQLite、Oracle 和 PostgreSQL，可一次快速方便地访问所有数据库。

In [1]:
### Connect to local MySQL through Python
from sqlalchemy import create_engine
import pandas as pd
pw = input('Please provide the password:')
db = input('Please input the name of the database which you would like to access:')
engine = create_engine('mysql+pymysql://root:{}@127.0.0.1:3306/{}?charset=utf8'.format(pw,db))
content_list = 
table_name = 
sql_cmd = "select {} from {} ".format(content_list, table_name)

# Read from Database
df = pd.read_sql(sql=sql_cmd, con=engine)
# Write to database
df.read_csv('data.csv')
df.to_sql(name='my_table', con=engine, if_exists='append', index=False, index_label='id')

Please provide the password: 11122
Please input the name of the table which you would like to access: fff

ModuleNotFoundError: No module named 'pymysql'

In [ ]:
import mysql.connector

def connect_mysql(sql):
#连接MySQL数据库
    url = '127.0.0.1'
    pw = input('Your access password:')
    db = input('Name of your database:')
    conn = mysql.connector.connect(host= url,port=3306,user="root",\
                       password = pw ,database = db ,charset="utf8")
    cur = conn.cursor()
    cur.execute(sql)
    conn.commit()
    cur.close()
    conn.close()

table = input('The name of table')
sql = 'select * from {}'.format(table)
connect_mysql(sql)

### MongoDB

`pip install pymongo`

In [2]:
import pymongo
 
myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["interlock"]

ModuleNotFoundError: No module named 'pymongo'